* {
    margin: 0;
    padding: 0;
}

h1 {
    border: 2px solid lightgrey;
    padding: 15px;
    color:darkslategrey;
    background-color:whitesmoke;
    text-align: center;
    margin-bottom: 50px;
}

#color-boxes {
    display: grid;
    grid-template-areas: "header header"
                         "ul main"
                         "section section"
                         "footer footer";
    grid-template-columns: 1fr 8fr;
    gap: 15px;
    grid-template-rows: 40px 460px 45px 90px;
    width: 560px;
    margin: 0 auto;
    /* border: 2px solid black; */
    text-align: center;
}

header {
    grid-area: header;
    text-align: left;
    display: inline-grid;
    grid-template-rows: 40px;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    border: 1px solid black;
}

header > span {
    font-size: 20px;
    text-align: center;
}

ul {
    grid-area: ul;
    display: grid;
    row-gap: 3px;
}

ul > li {
    list-style-type: none;
}

ul > li:hover {
    cursor: grab;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1px;
    grid-template-rows: repeat(8, 1fr);
}

section {
    grid-area: section;
    display: inline-flex;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-rows: 1fr 0.7fr;
}

#border-top-color {
    height: 30px;
    background-color: lightslategray;
}

#hue-value > p {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

#buttons-for-picked-color {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: space-between;
    font-size: 18px;
}

#hsl-color-value {
    text-align: center;
    display: grid;
    grid-template-columns: 0.15fr 1fr;
    position: relative;
}

#hsl-color-value-text {
    padding-top: 5px;
}

#add-to-fav-button {
    padding-top: 5px;
    /* background-color:lightgray; */
    border-radius: 10px;
}

#add-to-fav-button:hover {
    cursor: grab;
}

#copy-to-clipboard {
    /* border: 2px solid black; */
    position: relative;
    background-color:darkgrey;
    border-radius: 50%;
}

#copy-to-clipboard:hover {
    cursor: grab;
}

#copy-to-clipboard:hover + #text-indicates-copy-btn {
    display: block;
}

#first-square, #second-square {
    border: 2px solid black;
    position: relative;
    width: 9px;
    height: 9px;
    background-color: white;
}

#first-square {
    top: 8px;
    left: 14px;
}

#second-square {
    top: 0px;
    left: 8px;
}

#text-indicates-copy-btn {
    display: none;
    position: absolute;
    top: 45px;
    left: -55px;
    color:dimgray;
    border: 1px solid dimgray;
    border-radius: 7px;
    padding: 4px;
}
