* {
    margin: 0;
    padding: 0;
}

h1 {
    border: 2px solid lightgrey;
    padding: 35px;
    color:darkslategrey;
    background-color:whitesmoke;
    text-align: center;
    margin-bottom: 100px;
}

#titles {
    width: 584px;
    margin: 15px auto;
    text-align: left;
}

#titles > span {
    font-size: 20px;
}

#hue {
    text-align: left;
    margin-left: 5px;
}

#picked {
    margin-left: 230px;
}

#color-boxes {
    text-align: center;
    width: 585px;
    margin: 0 auto;
    border: 2px solid black;
}

#set-color-rect {
    height: 465px;
    width: 60px;
    display: inline-block;
    margin-right: 15px;
}

#set-color-rect > li {
    margin-bottom: 3px;
    list-style-type: none;
}

#set-color-rect > li:hover {
    border: 2px solid black;
    cursor: grab;
}

#border-top-color {
    height: 40px;
    background-color: lightslategray;
}

#big-rect {
    width: 500px;
    height: 465px;
    display: inline-block;
}

#hue-value {
    height: 40px;
    margin: 6px auto;
    border-top: 2px solid black;
}

#hue-value > p {
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}

#selected-hue {
    height: 40px;
    border-top: 2px solid black;
}

#hue-number {
    font-size: 24px;
    margin-top: 5px;
}

#selected-hue > p {
    text-align: center;
    font-size: 24px;
    margin-top: 5px;
}

#text-to-disappear {
    display: block;
}